/* skip a */
html{
  overflow-x: hidden;
}
body{
  font-family: "Cabin Sketch";
}


    .skip a{
      position: absolute;
      top: -70px;
      padding: 2%;
      background-color: white;
      border: solid black 4px;
      color: #2b1807c0;
      z-index: 2;
    }

  .skip a:focus{
    position: absolute;
    top:20px;
  }


/* acessiblity */

 *:focus{
    border: black solid 2px;
  }



/* header and nav */

header{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-items: center;
  flex-wrap: nowrap;
  height: 20%;
  background-color: #2b1807c0;
  width: 100%;
  row-gap: 20px;
  padding: 1%;
}


#logo{
  width: 40%;
  background: transparent;
  border: double black 10px;
  border-radius: 10px;
  margin: 12px;
  position: relative;
  justify-self: center;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  text-align: center;
  white-space: nowrap;
  column-gap: 40px;
  margin-bottom: 10%;
}


.nav_item a:link{
  text-decoration: none;
  color: white;
  padding: 5% 15%;
}

.nav_item a:visited {
color: white;
}


.nav_item a:hover {
  background-color: rgba(0, 0, 0, 0.253);
  border-radius: 5px;
  }

  .nav_item .current {
    background-color: #d7c3a3a8;
    border-radius: 5px;
    border: solid #d7c3a3a8 3px;
    color: black;
    text-decoration: underline black;
  }
  .nav_item a:active {
    background-color: #D7C3A3;
    border-radius: 5px;
    border: solid rgba(0, 0, 0, 0.253) 2px;
  }


/* main container */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    background-color: #D7C3A3;
    width: 100%;
  }

  .container div:first-child{
    grid-column: 1/-1;
    justify-content: center;
    align-content: center;
    width: 100%;
    vertical-align: middle;
  }

  .about-text{
    grid-column:1/ -1;
    background-color: rgba(252, 252, 252, 0.664);
    justify-self: center;
    align-self: center;
    position: relative;
    width: 70%;
    padding:5%;
    margin: auto;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 25px;
    height: fit-content;
    border: solid black 5px;
  }

  .about-text h2{
    padding:7%;}


  .about-text a:focus{
    background-color: white;
  }

  .about-image{
      grid-row: 1/-1;
      height: cover;
      width: 200%;
      overflow: hidden;
      object-fit: fill;
  }
  
  .button{
    font-family: inherit;
    font-size: 100%;
    position: relative;
    grid-column: 1/-1;
    border: #2b18070e solid 2px;
    border-radius: 5px;
    margin: 2% 0;
    background-color: #2b1807c0;
    color:white;
    padding: 2%;
  }

  .button:active{
    background: #D7C3A3;
  }
  
  img{
      width: 100%;
      height: 100%;
      object-fit: fill;
  }


.about-text{
    grid-row : 1;
}

.exotic-gallery{
    grid-row : 5;
}

.persian-gallery{
    grid-row : 2;
}

.ragdoll-gallery{
    grid-row : 3;
}

.sphynx-gallery{
    grid-row : 4;
}

.ragdoll-gallery, .exotic-gallery, .sphynx-gallery, .persian-gallery{
    grid-column:1/ -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    align-items: center;
    padding: 10%;
    border-bottom: double black 3px;
}

.ragdoll-gallery img, .exotic-gallery img, .sphynx-gallery img, .persian-gallery img{
  grid-column:1/ -1;
  border: solid black 2px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  max-height: inherit; 
  grid-row-end: 4; 
}


h2{
  color: #654321 ;
  font-size: 110%;
  text-decoration: bold;
}


.breedTitle{
  grid-column: 1/  span 2;
  font-weight: bold;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
  font-size: 135%;
  padding: 10%;
  border: dashed #2b1807c0 5px;
  background-color: #2b1807c0;
  color: rgb(103, 212, 216);
  border-radius: 10px;

}

.catBreeds ul {
  list-style-type: square;
  justify-self: center;
  margin: 13px;
  align-self: center;
  text-align: left;
}

.catBreeds{ 
  grid-column: 1/  span 2;
  justify-self: center;
  align-self: center;
}

h1{
  font-weight: bolder;
  text-decoration: wavy;
  text-align: center;
}

footer{
  background-color:#2b1807c0 ;
  margin: auto;
  padding: 10% 5%;
} 
footer h2{
  color: #D7C3A3;
}
footer ul, footer h2{
  font-size: 90%;
  color: #D7C3A3;
  list-style-type: square;
  padding: 0% 10% ;
}

footer ul li a:visited{
  color:#D7C3A3;
  text-transform: none;
}

footer ul li a{
  color: #D7C3A3;
  text-decoration: underline;
}

footer h1{
  color: white;
  padding: 3%;
}

footer .copywrite{
  border-top: solid 2px #2b1807;
  border-bottom: solid 2px #2b1807;
  font-weight: none;
}

footer .author{
  padding-bottom:10%;
}

p{
  text-indent: 20px;
}


@media screen and (min-width: 768px) {
  header{
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #logo{
    width: 30%;
  }
  
  nav ul{
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between ;
    font-size: 120%;
    row-gap: 20px;
    padding: 5%;
    margin-right: 90px;
  }

.ragdoll-gallery img, .exotic-gallery img, .sphynx-gallery img, .persian-gallery img{
  grid-column: unset;
  border: solid black 2px;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  grid-row-end: unset;
  object-fit: cover;
  object-position: 30% 28%;
}

/* extra- object postion showing*/
.ragdoll-gallery img:hover, .exotic-gallery img:hover, .sphynx-gallery img:hover, .persian-gallery img:hover{
  object-position: 0% 20%;
}
/*object-fit extra*/

.catBreeds{ 
  grid-column: 1/  span 1;
}


h1, h2{
    font-size: 130%;
  }

footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  justify-self: center;
}
footer div{
  align-content: center;
}
.copywrite{
  grid-column: 1/ span 2;
}
}

@media screen and (min-width: 1000px){
  nav ul{
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-self: center;
    align-content: center;
    column-gap: 40px;
    white-space: nowrap;
    row-gap: 70px;
    margin-top: 10%;
  }

  nav{
    align-self: center;
  }
#logo{
  width: 20%;
}

  .ragdoll-gallery, .exotic-gallery, .sphynx-gallery, .persian-gallery{
    grid-column:1/ -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 60px;
grid-column-gap: 30px;
}

  .catBreeds{ 
    grid-column: 2/ span 2;
  }

  h1, h2{
    font-size: 150%;
  }

  .sources li, .author-info li{
    font-size: 100%;
  }
  
  .breedTitle{
    grid-column: 1/ span 1;
    font-size: 170%;}

  .about-text{
    font-size: 120%;
    line-height: 130%;}


  footer h1, footer h2, footer ul{
    font-size: 130%;
  }
 
}