@import url("https://fonts.googleapis.com/css?family=Cabin Sketch");
/* skip a */
html{
    overflow-x: hidden;
    background-color: #D7C3A3;
  }
  body{
    font-family: "Cabin Sketch";
  }
  
    .skip a{
      position: absolute;
      top: -70px;
      padding: 2%;
      background-color: white;
      border: solid black 4px;
      color: #2b1807c0;
      z-index: 2;
    }
  
    .skip a:focus{
      position: absolute;
      top:20px;
    }
  
  
  /* acessiblity */
  
   *:focus{
      border: black solid 2px;
    }
  
  
  
  /* header and nav */
  
  header{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-items: center;
    flex-wrap: nowrap;
    height: 20%;
    background-color: #2b1807c0;
    width: 100%;
    row-gap: 20px;
    padding: 1%;
  }
  
  
  #logo{
    width: 40%;
    background: transparent;
    border: double black 10px;
    border-radius: 10px;
    margin: 12px;
    position: relative;
    justify-self: center;
  }
  
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    text-align: center;
    white-space: nowrap;
    column-gap: 40px;
    margin-bottom: 10%;
  }
  
  
  .nav_item a:link{
    text-decoration: none;
    color: white;
    padding: 5% 15%;
  }
  
  .nav_item a:visited {
  color: white;
  }
  
  
  .nav_item a:hover {
    background-color: rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    }
  
    .nav_item .current {
      background-color: #d7c3a3a8;
      border-radius: 5px;
      border: solid #d7c3a3a8 3px;
      color: black;
      text-decoration: underline black;
    }
    .nav_item a:active {
      background-color: #D7C3A3;
      border-radius: 5px;
      border: solid rgba(0, 0, 0, 0.253) 2px;
    }




   #main{
        background-color: #D7C3A3;

     }
    
  
    .Intro{
        background-color: rgba(252, 252, 252, 0.664);
        display: block;
        justify-content: center;
        align-self: center;
        width: 70%;
        padding:5%;
        margin: 10% auto;
        border-radius: 10px;
        height: fit content;
        border: solid black 5px;
      }
    
      .about-text h2{
        padding:7%;
        color:#2b1807c0;
    }
    
    
      .about-text a:focus{
        background-color: white;
      }  

.pet-type{
justify-content: space-around;
text-decoration: underline;
font:bolder;
font-size: 140%;
margin-top: 10px;}


 .dog-breeds{
        /* grid-column: 1/ span 1; */
        display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
  
        text-align:center ;
        align-items: center;
    }
  .cat-breeds{
      /* grid-column: 2/ span 1; */
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    text-align:center ;
    align-items: center;
  }



    .dog-card, .cat-card{
        border: dashed #2b1807c0 5px;
        margin: 30px 10px ;
        border-radius: 10px;
        flex-basis: 300px;
        height: fit-content;
        justify-items: center;
      }

      .dog-card:hover, .cat-card:hover{
        scale: 110%;
      }

    div .cat-card header, div.dog-card header{
    font-weight: bold;
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
    font-size: 135%;
    padding: 10%;
    color: rgb(103, 212, 216);
    text-align: center;
      }

      .dog-card img, .cat-card img{
          padding:10px;
          object-fit: cover;
          height: 300px;
          width: 300px;
          justify-self: center;
      }

      footer{
        background-color:#2b1807c0 ;
        margin: auto;
        padding: 10% 5%;
      } 
      footer h2{
        color: #D7C3A3;
      }
      footer ul, footer h2{
        font-size: 90%;
        color: #D7C3A3;
        list-style-type: square;
        padding: 0% 10% ;
      }
      
      footer ul li a:visited{
        color:#D7C3A3;
        text-transform: none;
      }
      
      footer ul li a{
        color: #D7C3A3;
        text-decoration: underline;
      }
      
      footer h1{
        color: white;
        padding: 3%;
      }
      
      footer .copywrite{
        border-top: solid 2px #2b1807;
        border-bottom: solid 2px #2b1807;
        font-weight: none;
      }
      
      footer .author{
        padding-bottom:10%;
      }
      
      p{
        text-indent: 20px;
      }
      


      @media screen and (min-width: 768px){

        .container{
          display: grid;
        }

        .Intro{
          grid-column: 1/ span 2;
          
          grid-row: 1; }

        .dog-breeds, .cat-breeds{
          display: flex;
          flex-direction: column;
        }

        .dog-breeds{
          grid-column: 1/ span 1;
          grid-row: 3;}

          .cat-breeds{
            grid-column: 2/ span 1;
            grid-row:3;}




        header{
            flex-direction: row-reverse;
            justify-content: space-between;
          }
        
          #logo{
            width: 30%;
          }
          
          nav ul{
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: space-around;
            justify-content: space-between ;
            font-size: 120%;
            row-gap: 20px;
            padding: 5%;
            margin-right: 90px;
          } 
      
    div .cat-card header, div.dog-card header{
            display: flex;
        flex-direction: column-reverse;
        align-items: center;
    justify-items: center;
        }


    h1, h2, .pet-type{
        font-size: 127%;
        text-align: center;
      }
    
    
    footer{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10%;
      justify-self: center;
    }
    footer div{
      align-content: center;
    }
    .copywrite{
      grid-column: 1/ span 2;
    }
}
    
@media screen and (min-width: 1000px)  {
    nav ul{
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-self: center;
        align-content: center;
        column-gap: 40px;
        white-space: nowrap;
        row-gap: 70px;
        margin-top: 10%;
      }
    
      nav{
        align-self: center;
      }
    #logo{
      width: 20%;
    }

    
      h1, h2{
        font-size: 150%;
      }
    
      .sources li, .author-info li{
        font-size: 100%;
      }
      
      .breedTitle{
        grid-column: 1/ span 1;
        font-size: 170%;}
    
      .about-text{
        font-size: 120%;
        line-height: 130%;}
    
    
      footer h1, footer h2, footer ul{
        font-size: 130%;
      }
      .dog-card, .cat-card{
        flex-basis: 250px;
      }
      .dog-breeds, .cat-breeds{
        display: flex;
        flex-direction: row;
        grid-column: 1/ span 2;
        justify-content:  space-around;
        margin: 30px;
      }
      .cat-breeds{
        grid-row:4;
      }
} 

